.post {
    width: 450px;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    background-color: white;
    margin: 20px auto;
}

.data-poster {
    display: flex;
    align-items: center;
    height: 100%;
}

.data-poster p {
    vertical-align: middle;
    margin: 0;
}

.profile {
    height: 30px;
    border-radius: 50%;
}

.image-post {
    width: 100%;
}