.post {
  width: 450px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  background-color: white;

  object-fit: cover;
  margin: 20px auto;
}

.data-poster {
  display: flex;
  align-items: center;
  height: 100%;
}

.data-poster p {
  vertical-align: middle;
  margin: 0;
}

.profile {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.image-post {
  width: 100% !important;
}
