* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-profile img {
  border: 1px solid #e7e7e7;
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.posts-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.image-post {
  height: 320px;
  width: 320px;
  margin: 10px auto;
  object-fit: cover;
}
.description-profile h1 {
  font-size: 23px;
}
.description-profile h3 {
  font-size: 19px;
}

@media (max-width: 1400px) {
  .image-post {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 1200px) {
  .image-post {
    height: 270px;
    width: 270px;
  }
}
@media (max-width: 992px) {
  .image-post {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 576px) {
  .description-profile h1 {
    text-align: center;
    padding: 10px 0;
  }
  .stats-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .stats-profile .stat {
    width: auto;
  }
  .posts-profile {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15px;
  }
  .content-post {
    padding: 0;
  }
  .image-post {
    height: 180px;
    width: 95%;
    margin: 10px auto;
  }
}

@media (max-width: 425px) {
  .image-post {
    height: 120px;
  }
}

@media (max-width: 375px) {
  .image-post {
    height: 100px;
    margin: 3px 0;
  }
}

@media (max-width: 320px) {
  .image-post {
    height: 90px;
    width: 97%;
    margin: 3px 0;
  }
}
